<%- include('../inc/top') %>
    <style>
        .editDetail {
            background-color: white;
            border-radius: 13px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        }
    </style>
    <div class="container-fluid d-flex justify-content-center">
  
        <div class="editDetail">
            <% let displayedNames=[];
                productListSizeColor.forEach(element=> {
                if (!displayedNames.includes(element.product_id.name)) {
                displayedNames.push(element.product_id.name);
                %>
                <div>
                    <img src="data:image/jpeg;base64,<%= element.product_id.image[1] %>" alt="Hình ảnh" width="300px"
                        height="300px">
                </div>
                <%= element.product_id.name %>
                    <%= element.product_id.price %>
                        <% } %>

                            <%= element.size_id.name %>
                                <%= element.color_id.name %>
                                    <%= element.quantity %>

                                        <% }); %>
        </div>
    </div>


    <%- include('../inc/bottom') %>